[submodule "Mobile"]
	path = Mobile
	url = https://github.com/Tarikokc/E-AirneisMobile.git
	branch = main
[submodule "Frontend-E-Airneis"]
	path = Frontend
	url = https://github.com/Tarikokc/E-Airneis-ReactV1.git
	branch = main
